@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@foreach(ViewModel currency in Currencies){
    <div>
        <h1>
            currency.Name
        </h1>
        <h2>
            All time high: currency.AthDate
        </h2>
        <h2>All time low: currency.AtlDate</h2>
        <h2>Current markket cap: currency.MarketCap</h2>
        <h2>Current price in SEK: currency.CurrentPrice</h2>
        <p>Last updated: currency.LastUpdated</p>

    </div>
}